{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well col-md-4 col-md-offset-4">
            <h1>Category creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('category_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}